<!--
  Generated template for the CustomerAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header hidden>

    <ion-navbar color="primary">
        <ion-title>ข้อมูลลูกค้า</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="editng=!editng" *ngIf="!editng">แก้ไข
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>

        <!-- <ion-buttons end>
            <button ion-button icon-only (click)="editng=!editng" *ngIf="editng">ยกเลิก
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
        </ion-buttons> -->

        <ion-buttons end>
            <button ion-button icon-only (click)="editng=!editng" *ngIf="editng">บันทึก
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>

        
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-row>
        <div>
            <h3>ข้อมูลการจองของลูกค้า</h3>
        </div>
    </ion-row>

    <ion-row>
        <div>
                <ion-row>
                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>ชื่อ:</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_name" value="{{ng_details_guest.guest_name}}" ></ion-input>
                    </ion-item>

                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>นามสกุล:</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_lastname" value="{{ng_details_guest.guest_lastname}}" ></ion-input>
                    </ion-item>

                </ion-row>
               
                <ion-row>
                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>เบอร์โทรศัพท์ :</ion-label>
                        <ion-input type="tel" [(ngModel)]="ng_details_guest.guest_tel" value="{{ng_details_guest.guest_tel}}" ></ion-input>
                    </ion-item>


                    <ion-item *ngIf="editng" col-6>
                        <ion-label floating>ประเภทอุปกรณ์:</ion-label>
                        <ion-input type="text" [(ngModel)]="address.type_name" value="{{address.type_name}}"  readonly="true"></ion-input>
                    </ion-item>

                </ion-row>


                <ion-row *ngIf="editng">
                    <ion-label style="padding-left:10px; padding-top:10px;">
                        <h6>ใส่ที่อยู่:</h6>
                    </ion-label>
                </ion-row>

                <ion-row>
                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>บ้านเลขที่:</ion-label>
                        <ion-input type="tel" [(ngModel)]="ng_details_guest.guest_num_house" value="{{ng_details_guest.guest_num_house}}" ></ion-input>
                    </ion-item>

                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>ถนน:</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_street" value="{{ng_details_guest.guest_street}}"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-row>
                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>แขวง</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_distric" value="{{ng_details_guest.guest_distric}}" ></ion-input>
                    </ion-item>

                    <ion-item col-6 *ngIf="editng">
                        <ion-label floating>เขต</ion-label>
                        <ion-select [(ngModel)]="ng_details_guest.guest_area">
                            <ion-option value="{{item_area.area_name}}" *ngFor="let item_area of data_area">{{item_area.area_name}}</ion-option>
                        </ion-select>
                    </ion-item>

                </ion-row>
                <ion-row style="margin-top:10px;" *ngIf="editng">
                    <ion-col></ion-col>
                    <button ion-button color="secondary" (click)="update_details(ng_details_guest)">อัพเดต</button>
                    <ion-col></ion-col>
                </ion-row>
        </div>
    </ion-row>

    
        <div>
            <form [formGroup]="detail">
                <ion-row>
                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>ชื่อ:</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_name" value="{{ng_details_guest.guest_name}}" formControlName="name" readonly="true"></ion-input>
                    </ion-item>

                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>นามสกุล:</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_lastname" value="{{ng_details_guest.guest_lastname}}" formControlName="last_name" readonly="true"></ion-input>
                    </ion-item>
                </ion-row>
               
                <ion-row>
                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>เบอร์โทรศัพท์ :</ion-label>
                        <ion-input type="tel" [(ngModel)]="ng_details_guest.guest_tel" value="{{ng_details_guest.guest_tel}}" formControlName="tel" readonly="true"></ion-input>
                    </ion-item>


                    <ion-item *ngIf="!editng" col-6>
                        <ion-label floating>ประเภทอุปกรณ์:</ion-label>
                        <ion-input type="text" [(ngModel)]="address.type_name" value="{{address.type_name}}" formControlName="equipment" readonly="true"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-row *ngIf="!editng">
                    <ion-label style="padding-left:10px; padding-top:10px;">
                        <h6>ใส่ที่อยู่:</h6>
                    </ion-label>
                </ion-row>

                <ion-row>
                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>บ้านเลขที่:</ion-label>
                        <ion-input type="tel" [(ngModel)]="ng_details_guest.guest_num_house" value="{{ng_details_guest.guest_num_house}}" formControlName="num_house" readonly="true"></ion-input>
                    </ion-item>


                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>ถนน:</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_street" value="{{ng_details_guest.guest_street}}" formControlName="street" readonly="true"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-row>

                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>แขวง</ion-label>
                        <ion-input type="text" [(ngModel)]="ng_details_guest.guest_distric" value="{{ng_details_guest.guest_distric}}" formControlName="ditstric" readonly="true"></ion-input>
                    </ion-item>


                    <ion-item col-6 *ngIf="!editng">
                        <ion-label floating>เขต</ion-label>
                        <ion-select [(ngModel)]="ng_details_guest.guest_area" formControlName="area">
                            <ion-option value="{{item_area.area_name}}" *ngFor="let item_area of data_area">{{item_area.area_name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-row>

                <ion-row *ngIf="!editng">
                    <ion-item >
                        <ion-label staked>เลือกวันที่ :</ion-label>
                        <ion-datetime displayFormat="DD/MMMM/YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="ng_details_guest.mydate" monthNames='มกราคม,กุมภาพันธ์,มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม,กันยายน,ตุลาคม,พฤศจิกายน,ธันวาคม'
                            doneText="ตกลง" cancelText="ยกเลิก" placeholder="กรุณาเลือกเดือน" formControlName="mydate">
                        </ion-datetime>
                    </ion-item>
                   
                    <!-- <ion-item >
                        <ion-label staked>เลือกเวลา :</ion-label>
                        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="ng_details_guest.time"
                            doneText="ตกลง" cancelText="ยกเลิก" placeholder="กรุณาเลือกเวลา" formControlName="time">
                        </ion-datetime>
                    </ion-item> -->
                </ion-row>

                <ion-row style="margin-top:10px;" *ngIf="!editng">
                    <ion-col></ion-col>
                    <button ion-button color="danger"  (click)="cancel_rent()">ยกเลิกการจอง</button>
                    <ion-col></ion-col>

                    <ion-col></ion-col>
                    <button ion-button color="secondary" [disabled]="!detail.valid" (click)="submit(ng_details_guest)">ยืนยันการจอง</button>
                    <ion-col></ion-col>
                </ion-row>
            </form>
        </div>
</ion-content>