<!--
  Generated template for the BulidRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar >
    <ion-title>สร้างร้านค้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        

        <form [formGroup]="myform" >
          <ion-row class="logo-row">
            <ion-col></ion-col>
             <ion-img width="180" height="160" src="{{images}}" (click)="image()" ></ion-img>
             <ion-col></ion-col>
          </ion-row>

        <ion-row>
          <ion-item col-6>
          <ion-label stacked><h6>ชื่อร้านค้า</h6></ion-label>
        <ion-input type="text" formControlName="name_stroe" [(ngModel)]="name_store"></ion-input>
      </ion-item>
      
      <ion-item col-6>
        <ion-label stacked>บัญชีธนาคาร</ion-label>
        <ion-input  type="text" formControlName="account" [(ngModel)]="account"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
          <ion-item  col-6>
          <ion-label stacked>เครื่องใช้ไฟฟ้า</ion-label>
          <ion-select [(ngModel)]="equipment" formControlName="equipment" >
            <ion-option [value]="item_type.id" *ngFor="let item_type of type_equipment" >{{item_type.type_name}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item  col-6 >
        <ion-label stacked>เบอร์โทรศัพท์</ion-label>
        <ion-input formControlName="tel" [(ngModel)]="tel" type="tel"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
        <ion-item  col-4>
            <ion-label stacked>เวลาปิด</ion-label>
            <ion-input formControlName="time_start" [(ngModel)]="time_start" type="tel"></ion-input>

    </ion-item>
    
    <ion-item  col-4 >
      <ion-label stacked>เวลาปิด</ion-label>
      <ion-input formControlName="time_end" [(ngModel)]="time_end" type="tel"></ion-input>
    </ion-item>

    <ion-item col-4>
        <ion-label stacked>ราคาเริ่มต้น</ion-label>
    <ion-input formControlName="cost_beging" [(ngModel)]="cost_begin" type="tel" ></ion-input> 
    </ion-item>
  </ion-row>

  <ion-row>
                            
    <ion-label style="padding-left:20px;">ใส่ที่อยู่ :</ion-label>
   

    <ion-item col-4>
        <ion-label stacked>บ้านเลขที่</ion-label>
    <ion-input type="tel" [(ngModel)]="num_house" formControlName="num_house"></ion-input>
    </ion-item>
 
    <ion-item col-4>
            <ion-label stacked>ถนน</ion-label>
        <ion-input type="text" [(ngModel)]="street" formControlName="street"></ion-input> 
    </ion-item>
    </ion-row>

    <ion-row>
            <ion-label style="margin-left:15px;"></ion-label>
            <ion-item col-4>
                <ion-label stacked>แขวง</ion-label>
            <ion-input type="text" [(ngModel)]="distric" formControlName="distric" ></ion-input>
            </ion-item>

            <ion-item col-4>
                    <ion-label stacked>เลือกเขต</ion-label>
                    <ion-select [(ngModel)]="area" formControlName="area">
                        <ion-option [value]="item.id" *ngFor="let item of area_for" >{{item.area_name}}</ion-option>
                    </ion-select>
            </ion-item>
    </ion-row>

    <ion-row>                
        <ion-label style="margin-left:30px;">ที่ตั้ง :</ion-label>
       
        <ion-item col-3>  
            <ion-label stacked>lat</ion-label>
        <ion-input type="text" [(ngModel)]="lat" formControlName="lat" >{{lat}} </ion-input>
        </ion-item>

        <ion-item col-3> 
                <ion-label stacked>lng</ion-label>
            <ion-input type="text" [(ngModel)]="lng" formControlName="lng" >{{lng}}</ion-input> 
        </ion-item>

        <ion-row style="margin-top:30px;">
                <button ion-button block clear (click)="location()" color="danger"  >ดูที่ตั้ง</button>
        </ion-row>
        </ion-row>
                <button ion-button type="submit" [disabled]="!myform.valid"  (click)="submit()" style="margin-top:20px;" block clear >สร้างร้านค้า</button>
            </form>
</ion-content>
