page-home {
.logo-row{
       color: rgb(38,177,212);
       font-size:35px;
       font-family: 'Muli', sans-serif;
}

.login-box{
    padding-top: 20px;
}
.submit-btn{
    padding-top: 10px;
}
.register-btn{
    padding-top: 5px;
}
.sigeup{
    margin-top:10px;
    text-align: center;
}

}
