<ion-header hidden>

  <ion-navbar>
    <ion-title>ข้อมูลร้านค้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ng-template #test >
        <h1 class="tex-rent">ไม่มีรายการข้อมูล</h1>
</ng-template>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="กรุณารอสักครู่...">
    
        </ion-refresher-content>
      </ion-refresher>

  <ion-grid *ngIf="tec_detils != 0;else test" >
     
    <ion-list *ngFor="let item of Detail_for">
      <ion-card>
        <img src="{{show_imgs}}/Final_Project/service/{{item.image_name}}" />
        <ion-card-content>
          <ion-card-title>
            <ion-grid>
                <ion-row>
                  <ion-col col-1>
                      <div>
                          <ion-icon name="home" md="md-home"></ion-icon>
                        </div>
                  </ion-col>
                  <ion-col col-11>
                      <div style="margin-top:7px;margin-left:5px"><h2><b>ชื่อร้านค้า:</b>{{item.name_store}}({{item.star}}
                          <ion-icon name="star" color="danger"></ion-icon>)</h2></div>
                  </ion-col>
                  </ion-row>
            </ion-grid>
            
            <ion-grid>
                <ion-row>
                  <ion-col col-1>
                      <div ><ion-icon name="alarm" md="md-alarm"></ion-icon></div>
                  </ion-col>
                  <ion-col col-11><div style="margin-top:7px;margin-left:5px"><h2><b>เวลาทำการ:</b>{{item.time_start}} - {{item.time_end}}</h2></div></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                        <div ><ion-icon name="pricetag" md="md-pricetag"></ion-icon></div>
                    </ion-col>
                    <ion-col col-11><div style="margin-top:7px;margin-left:5px"><h2><b>ราคาเริ่มต้น:</b>{{item.cost_begin}}</h2></div></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                        <div ><ion-icon name="list-box" md="md-list-box"></ion-icon></div>
                    </ion-col>
                    <ion-col col-11><div style="margin-top:7px;margin-left:5px"><h2><b>ประเภทอุปกรณ์:</b>{{item.type_name}}</h2></div></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                        <div ><ion-icon name="locate" md="md-locate"></ion-icon></div>
                    </ion-col>
                    <ion-col col-11><div style="margin-top:7px;margin-left:7px"><h2><b>เขต:</b>{{item.area_name}}</h2></div></ion-col>
                </ion-row>
              </ion-grid>
            
          </ion-card-title>
        </ion-card-content>

        <ion-row style="float:right">
          <div>
            <button ion-button clear color="secondary" icon-start (click)="detail_tec(item)">
              <ion-icon name='search'></ion-icon>
              ดูรายละเอียด
            </button>
          </div>
        </ion-row>

      </ion-card>
    </ion-list>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="กรุณารอสักครู่...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>