page-chart-content-customer {
.number_star{
    margin-top:33px;
    margin-bottom: auto;
    text-align: center;
}
// .number_star1{
//     margin-top:50px;
//     margin-bottom: auto;
//     text-align: center;
// }
}
