page-data-rent {
.rating{
    font-size: 20px;
    margin-top:3px;
}
.left{
    margin-left: 10px;
}
.tex-rent{
    text-align: center;
    vertical-align: middle;
    line-height: 400px; 
}
.tel_tech{
    margin-top:-7px;
    margin-right:-25px;
}
}
