<!--
  Generated template for the DataRentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ข้อมูลการจอง</ion-title>
  </ion-navbar>

</ion-header>


<ion-content nopadding>

<ng-template #test >
  <h1 class="tex-rent">กรุณาทำการจอง</h1>
</ng-template>

<!-- <ion-buttons end *ngIf="!data_rent" (click)=" data_rent =!data_rent ">
  <button ion-button>
          <ion-icon name="trash" md="md-trash" >!data_rent</ion-icon>
  </button>
</ion-buttons>

<ion-buttons end *ngIf="data_rent" (click)=" status_rent =data_rent">
  <button ion-button>
          <ion-icon name="trash" md="md-trash" >data_rent</ion-icon>
  </button>
</ion-buttons>

<div *ngIf="!data_rent">
  !data_rent
</div>



<div *ngIf="data_rent">
  data_rent
  <ion-item>
    <ion-label>step=100, snaps, </ion-label>
    <ion-range min="1" pin="true" snap="true" max="3" step="1"   color="secondary" [(ngModel)]="singleValue4"></ion-range>
  </ion-item>
  </div>

  <div *ngIf="status_rent && data_rent">
    status_rent
    <button ion-button>
      <ion-icon name="trash" md="md-trash" >score</ion-icon>
  </button>

  
 
    </div> -->


<div *ngIf="!data_rent">
  <ion-card *ngIf="Detail_for||mydata ;else test">
    <ion-card-header>
          <ion-grid>
            <ion-row justify-content-end>
              <ion-col col-8>
                <b>วันที่ส่งซ่อม: {{ mydata }}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        
    </ion-card-header>

    <ion-card-content >

      <ion-grid >
        <ion-row justify-content-start>
          <ion-col col-6>
            <b>ชื่อร้าน:</b> {{Detail_for.name_store}}
          </ion-col>
        </ion-row>

        <ion-row justify-content-around>
          <ion-col col-6>
            <b >บ้านเลขที่:</b> {{Detail_for.home_number}}  
          </ion-col>

          <ion-col col-6>
            <b>ถนน:</b> {{Detail_for.street}}
          </ion-col>
        </ion-row>
      
        <ion-row justify-content-around>
          <ion-col col-6>
            <b>แขวง:</b> {{Detail_for.district}}
          </ion-col>

          <ion-col col-6>
            <b>เขต:</b> {{Detail_for.area_name}}
          </ion-col>
        </ion-row>

        <ion-row justify-content-around>
          <ion-col col-6 >
            <b >เบอร์โทรศัพท์:</b> {{Detail_for.tel_technician}}  
          </ion-col>

          <ion-col col-6 style="margin-top:-7px">
            <button  ion-button icon-left clear small (click)="call_tec()" > <ion-icon name="call" color="secondary"></ion-icon>โทร</button>
          </ion-col>
        </ion-row>
        
      </ion-grid>

    <ion-grid>
        <ion-row >
          <div class="rating">
          <ion-col *ngFor="let star of stars; let i=index" tappable (click)="starClicked(i)" >
            <ion-icon [name]="star" color="danger" ></ion-icon>
          </ion-col>
         {{value}}.0
        
        </div>
        <button ion-button small style="margin-left:5px;"(click)="submit(value)">ยืนยัน</button>
      </ion-row>

    </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
  
<h2>{{countDown| async | formatTime}}</h2>
<button ion-button small color="danger" [disabled]="counter == 0">ยกเลิกการจอง</button>
</ion-content>

